.global-wrapper .site-content .posts-content .artworks-list li .caption {
  display: block;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal !important;
  color: dimgray;
}
.global-wrapper .site-header .tagline {
  display: none;
}

img {
  max-width: 100%;
}

.project-images {
  padding-top: 1.8rem;
  margin: 0 auto;
  max-width: 80%;
}
.project-images img {
  display: block;
  margin: 0 auto;
}
@media all and (max-width: 640px) {
  .project-images {
    max-width: 100%;
  } 
}